.checked {
  color: #ccc;
  text-decoration: line-through;
  font-style: italic;
}

.fa {
  margin: 0 5px;
  color: #bbb;
}

li > label[for="todo"] {
  width: 210px;
}

.red {
  color: red;
}

body {
  background-image: url(https://image.freepik.com/free-vector/hand-drawn-light-bulbs_1379-9.jpg);
  background-repeat: no-repeat;
}
